*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
    height: 350px;
    background-color: rgb(15, 47, 224);
    flex-direction: row;
    gap: 20%;
    
    
    
    
}
img{
    width: 350px;
    height: 350px;
}
ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 35px;
    list-style-type: none;
    justify-content: end;
    margin-top: -310px;
    padding-top: 15px;
}
li{
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color:green;
    padding: 10px;
    border-radius: 15px;
}
p{
    font-size: 30px;
}
article{
    font-size: 100%;
}
